<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471397823349-8renb7mnfcqdq74r93h55u2gr7t0hjvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471397823349-8renb7mnfcqdq74r93h55u2gr7t0hjvh</string>
	<key>API_KEY</key>
	<string>AIzaSyC7OHoY6kI94OogDOJIkJLbxJpM-2vECoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>471397823349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialPrac</string>
	<key>PROJECT_ID</key>
	<string>mini-project-78c35</string>
	<key>STORAGE_BUCKET</key>
	<string>mini-project-78c35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471397823349:ios:6589570fc6020c40ff593c</string>
</dict>
</plist>